nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 3%;
	height: 70px;
	
	background-color: #D34541;
	
}

.nav-logo {
	height: 70px;

}

.nav-list {
	display: flex;
	align-items: center;
	justify-content: space-around;
	
	width: 80%;
}

.nav-link {
	text-decoration: none;
	font-size: 20px;
	
	color: white
}

/*######################## SECTION 1 #########################*/


	


.img-ctn {
	
	width: 50%;
}

.txt-ctn {
	
	width: 50%;
	text-align: center;
}

.text-ctn.text {
	
	width: 70%;
}


.button {
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
	background-color: #EA5491;
	color: white;
	display: block;
	text-align: center;
}

.text .button {
	width: 30%;
	margin: 0 auto;
	padding: 10px 90Px;
}

#logo-img {
	width: 80%;
}


/*################### SECTION 3 ###################*/


#section3 .container {
	justify-content: space-evenly;
	
}

.column li img, p {
	display: inline-block;
}

.column li {
	display: flex;
	align-items: center;
	
	margin-top: 40px;	
}

.feature-icon {
	width: 90px;
	height: 90px;
	background-size: contain;
}

.feature-p {
	margin-left: 20px;
	width: 300px;
}